# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
#*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/


hls4ml-kv260.code-workspace
#hls4ml-dev-testenv/testmodel
#hls4ml-dev-testenv/testmodel/1/hls4ml_prj_VitisUnifiedKV260_1


#datasets
nparticles_resampled.h5
processed_data
x_test*
X_test*
y_test*
x_train*
y_train*
development/pixsplit/Data
*.arff
classes.npy


# Vitis - for store filer for GitHub
*/system_link/*
FPGAs_AdaptiveSoCs_Unified_SDI_*.tar
xilinx_*.zip
dockerbuild/qs.md
dockerbuild/*.tar.gz
.Xil
*.adb
*.verbose.rpt
#find . -size +50M | cat >> .gitignore
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_DA_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.bind.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_DA_bitfile/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_40_20_5_3_0_config4_s.bind.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_DA_bitfile/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_40_20_5_3_0_config4_s.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_DA_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.verbose.rpt
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_DA_bitfile/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_39_19_5_3_0_config2_s.bind.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_DA_bitfile/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_39_19_5_3_0_config2_s.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_DA_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.verbose.bind.rpt
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_DA_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.sched.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_DA_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_latency_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.bind.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_latency_bitfile/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_40_20_5_3_0_config4_s.bind.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_latency_bitfile/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_40_20_5_3_0_config4_s.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_latency_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.verbose.rpt
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_latency_bitfile/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_39_19_5_3_0_config2_s.bind.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_latency_bitfile/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_39_19_5_3_0_config2_s.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_latency_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.verbose.bind.rpt
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_latency_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.sched.adb
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_latency_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.adb
development/jettag/jet_baseline/the_baseline/hls4ml_prj_acc=0.7685_VU_DA_bitfile/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.runs/vitis_design_myproject_axi_master_1_0_synth_1/vitis_design_myproject_axi_master_1_0_sim_netlist.v
development/jettag/jet_baseline/the_baseline/hls4ml_prj_acc=0.7685_VU_DA_bitfile/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.runs/vitis_design_myproject_axi_master_1_0_synth_1/vitis_design_myproject_axi_master_1_0_sim_netlist.vhdl

onboard-verification/testmodel_1_VitisUnifiedKV260/X_train_val.npy
onboard-verification/Playground/X_train_val.npy
onboard-verification/pixsplit/processed_data/x_test.npy
development/_OldExports/testmodel/2/hls4ml_prj_VitisUnifiedKV260_2025.2/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.runs/impl_1/vitis_design_wrapper_routed.dcp
development/_OldExports/testmodel/2/hls4ml_prj_VitisUnifiedKV260_2023.2/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.runs/impl_1/vitis_design_wrapper_routed.dcp
development/_OldExports/testmodel/2/hls4ml_prj_VitisUnifiedKV260_2025.2_axi_stream/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.runs/impl_1/vitis_design_wrapper_routed.dcp
development/_OldExports/testmodel/2/hls4ml_prj_VitisUnifiedKV260_2025.2_from_docker_testafterremoval/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.runs/impl_1/vitis_design_wrapper_routed.dcp
development/_OldExports/testmodel/2/hls4ml_prj_VitisUnifiedKV260_2023.2_verification/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.runs/impl_1/vitis_design_wrapper_routed.dcp
development/_OldExports/testmodel/2/hls4ml_prj_VitisUnifiedKV260_2025.2_from_docker/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.runs/impl_1/vitis_design_wrapper_routed.dcp
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_DA_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.bind.adb.xml
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_DA_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.adb.xml
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_latency_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.bind.adb.xml
development/pixsplit/baseline/baseline/hls4ml_prj_acc=0.7811_latency_bitfile/myproject_prj/solution1/.autopilot/db/init_exp_table_ap_ufixed_36_16_5_3_0_softmax_config11_s.adb.xml
development/pixsplit/Data/processed_data/X_test.npy
development/MNIST_CNN/baseline/hls4ml_prj_MNIST_baseline_iostream/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_43_23_5_3_0_config10_s.sched.adb
development/MNIST_CNN/baseline/hls4ml_prj_MNIST_baseline_iostream/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_42_22_5_3_0_config5_mult_s.sched.adb
development/MNIST_CNN/baseline/hls4ml_prj_MNIST_baseline_iostream/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_42_22_5_3_0_config5_mult_s.bind.adb
development/MNIST_CNN/baseline/hls4ml_prj_MNIST_baseline_iostream/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_43_23_5_3_0_config10_s.bind.adb
development/MNIST_CNN/baseline/hls4ml_prj_MNIST_baseline_iostream/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_43_23_5_3_0_config10_s.adb
development/MNIST_CNN/baseline/hls4ml_prj_MNIST_baseline_iostream/myproject_prj/solution1/.autopilot/db/dense_latency_ap_fixed_16_6_5_3_0_ap_fixed_42_22_5_3_0_config5_mult_s.adb
development/jettag/jet_baseline/the_baseline/hls4ml_prj_acc=0.7685_VU_DA_bitfile/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.runs/vitis_design_myproject_axi_master_1_0_synth_1/vitis_design_myproject_axi_master_1_0.dcp
development/jettag/jet_baseline/the_baseline/hls4ml_prj_acc=0.7677_withoutSoftmax_VU_DA_bitfile/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.runs/vitis_design_myproject_axi_master_1_0_synth_1/vitis_design_myproject_axi_master_1_0.dcp
development/jettag/jet_baseline/the_baseline/hls4ml_prj_acc=0.7677_withoutSoftmax_VU_DA_bitfile/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.gen/sources_1/bd/vitis_design/ip/vitis_design_myproject_axi_master_1_0/vitis_design_myproject_axi_master_1_0_sim_netlist.v
development/jettag/jet_baseline/the_baseline/hls4ml_prj_acc=0.7677_withoutSoftmax_VU_DA_bitfile/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.gen/sources_1/bd/vitis_design/ip/vitis_design_myproject_axi_master_1_0/vitis_design_myproject_axi_master_1_0_sim_netlist.vhdl
development/jettag/jet_baseline/the_baseline/hls4ml_prj_acc=0.7677_withoutSoftmax_VU_DA_bitfile/vitis_workspace/system_link/_x/link/vivado/vpl/prj/prj.gen/sources_1/bd/vitis_design/ip/vitis_design_myproject_axi_master_1_0/vitis_design_myproject_axi_master_1_0.dcp
development/jettag/jet_baseline/the_baseline/hls4ml_prj_acc=0.7677_withoutSoftmax_VU_DA_bitfile/vitis_workspace/system_link/.ipcache/8/7/8730d8ef70179f82/vitis_design_myproject_axi_master_1_0_sim_netlist.v
development/jettag/jet_baseline/the_baseline/hls4ml_prj_acc=0.7677_withoutSoftmax_VU_DA_bitfile/vitis_workspace/system_link/.ipcache/8/7/8730d8ef70179f82/vitis_design_myproject_axi_master_1_0_sim_netlist.vhdl
development/jettag/jet_baseline/the_baseline/hls4ml_prj_acc=0.7677_withoutSoftmax_VU_DA_bitfile/vitis_workspace/system_link/.ipcache/8/7/8730d8ef70179f82/vitis_design_myproject_axi_master_1_0.dcp
