
# hls-fpga-machine-learning insert custom connection

[connectivity]
nk=myproject_axi_stream:1:myproject_axi_stream_1
stream_connect=DMA_MM2S:myproject_axi_stream_1.axi_input_stream
stream_connect=myproject_axi_stream_1.axi_output_stream:DMA_S2MM
